/* Desktop styles */
@media only screen and (min-width: 768px) {
  #app-nav {
    color: white;
    height: 3rem;
    width: 100%;
    text-align: center;
    background-color: #121213;
    display: inline-block;
    border-bottom: 1px solid #3a3a3c;
    display: flex;
    justify-content: center;
    font-size: 2.15rem;
  }
  .flex-container {
    width: 100%;
    max-width: 650px;
    margin: 5rem auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #app-title {
    margin: 0.1rem;
    margin-left: 5rem;
    line-height: 2.5rem;
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
    flex-grow: 2;
  }
  .modal {
    min-height: 35rem;
    min-width: 25rem;
    text-align: start;
  }
  .modal > .flex-row > .tile {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  #hamburger-modal.modal-open {
    opacity: 100%;
    left: 0rem;
    display: block;
    max-width: 45%;
    max-height: 90%;
    height: 90%;
    z-index: 999;
  }
  #hamburger-modal > nav {
    background-color: #242424;
    margin-bottom: 20rem;
    overflow-y: scroll;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .flex-container {
    width: 100%;
    max-width: 650px;
    margin: 3rem auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #app-title {
    margin: 0.1rem;
    line-height: 2.5rem;
    font-size: 2rem;
    margin-left: 0;
    font-family: "Courier New", Courier, monospace;
    flex-grow: 2;
  }
  #app-nav {
    color: white;
    height: 3rem;
    width: 100%;
    text-align: center;
    background-color: #121213;
    display: inline-block;
    border-bottom: 1px solid #3a3a3c;
    display: flex;
    justify-content: center;
    font-size: 2.15rem;
  }
  .modal {
    min-height: 14rem;
    min-width: 8rem;
    text-align: start;
    font-size: 0.6rem;
  }
  .modal > .flex-row > .tile {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #hamburger-modal.modal-open {
    opacity: 100%;
    left: 0rem;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  #hamburger-modal > nav {
    background-color: #242424;
    overflow-y: scroll;
  }
}

/* All styles */
.App {
  text-align: center;
}

.flex-row {
  display: flex;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

i.bx {
  padding: 0 0.15rem;
}

.bx:hover {
  cursor: pointer;
}

#app-hamburger {
  justify-content: flex-start;
}

#app-options {
  justify-content: flex-end;
}

#guess-input {
  opacity: 0;
  height: 20px;
  width: 20px;
}

#guess-input-hider {
  width: 0;
  overflow: hidden;
}

.keyboard-container {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2rem;
  flex-direction: column;
  width: 100%;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.spacer {
  width: 25px;
}

.toast {
  opacity: 0%;
  position: absolute;
  background-color: rgb(248, 248, 248);
  top: 4rem;
  left: 50%;
  color: rgb(18, 18, 19);
  padding: 0.8rem;
  border-radius: 4px;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-in-out;
}

#hamburger-modal {
  display: block;
  transition: all ease-in-out 1.5s;
  position: absolute;
  width: 24rem;
  text-align: left;
}

#hamburger-modal.modal-closed {
  opacity: 0%;
  left: -5rem;
  height: 0;
  display: none;
  z-index: -999;
}



#modal-btn-container {
  background-color: #3a3a42;
  text-align: center;
  position: sticky;
}

#modal-btn-container > button {
  height: 50%;
  margin: 0 0.09rem;
  width: 11.5rem;
  position: sticky;
}

#game-spacer {
  margin-bottom: 95%;
}

#more-games-container {
  display: flex;
  justify-content: space-between;
}

#more-games-container > p > i {
  font-size: 2rem;
}

dialog {
  height: 0;
}

dialog[open] {
  animation: myFadeIn 0.5s ease-in-out normal;
  transition: height 1s ease-in-out;
  height: fit-content;
}

@keyframes myFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal > div:nth-child(1) {
  text-align: end;
}

.modal > h2 {
  margin: 0.4rem 0;
}

.modal > .flex-row {
  text-align: center;
}

.modal > div.flex-row:nth-child(10) > div:nth-child(3) {
  background-color: gray;
}
