/* #region Light/Dark styles */
@media (prefers-color-scheme: light) {
  .tile {
    color: black;
  }
  .letter-absent {
    background-color: rgb(120, 124, 126);
    color: white;
  }
  .letter-in-word {
    background-color: rgb(201, 180, 88);
    color: white;
  }
  .letter-correct {
    background-color: rgb(106, 170, 100);
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .tile {
    color: white;
  }
  .letter-absent {
    background-color: rgb(58, 58, 60);
  }
  .letter-in-word {
    background-color: rgb(181, 159, 59);
  }
  .letter-correct {
    background-color: rgb(83, 141, 78);
  }
}
/* #endregion */
/* #region Desktop styles */
@media only screen and (min-width: 768px) {
  .tile {
    width: 4rem;
    height: 4rem;
    margin: 0.1rem 0.1rem;
    border: #3a3a3c solid 1px;
    font-size: 2rem;
    line-height: 4rem;
    text-transform: uppercase;
    transition: background-color linear 1s;
  }

  .tile1 {
    animation-delay: 100ms;
  }

  .tile2 {
    animation-delay: 200ms;
  }

  .tile3 {
    animation-delay: 300ms;
  }

  .tile4 {
    animation-delay: 400ms;
  }

  .tile5 {
    animation-delay: 500ms;
  }
}
/* #endregion */
@media screen and (max-width: 768px) {
  .tile {
    width: 2rem;
    height: 2rem;
    margin: 0.1rem 0.1rem;
    border: #3a3a3c solid 1px;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: uppercase;
    transition: background-color linear 1s;
  }

  .tile1 {
    animation-delay: 100ms;
  }

  .tile2 {
    animation-delay: 200ms;
  }

  .tile3 {
    animation-delay: 300ms;
  }

  .tile4 {
    animation-delay: 400ms;
  }

  .tile5 {
    animation-delay: 500ms;
  }
}

/* #region Animations */
.letter-rotate {
  animation: letter-rotate-vertical 1s linear;
  animation-iteration-count: 1;
}

@keyframes letter-rotate-vertical {
  from {
    transform: rotateX(0turn);
  }

  to {
    transform: rotateX(1turn);
  }
}

.invalid-row {
  animation-name: invalid-row-shake;
  animation-duration: 600ms;
}

@keyframes invalid-row-shake {
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  40%,
  60% {
    transform: translateX(4px);
  }
}

.row-shake {
  animation: shaking-row 0.3s linear infinite;
}

@keyframes shaking-row {
  from {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(2px);
  }
  20% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(-4px);
  }
  to {
    transform: translateX(0px);
  }
}

/* #endregion */
